<a href="https://colab.research.google.com/github/Suleymanabdy/Data-Science-Checkpoints./blob/main/Copy_of_Data_Manipulation_Checkpoint_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql
%sql sqlite://

In [ ]:
%%sql
CREATE TABLE Vehicles (
  LicensePlate VARCHAR(10) PRIMARY KEY,
  Make VARCHAR(10),
  Model VARCHAR(10),
  Year INT,
  Color VARCHAR(10),
  VIN VARCHAR(20)
);

In [ ]:
%%sql
CREATE TABLE Drivers (
  LicenseNumber VARCHAR(10) PRIMARY KEY,
  FirstName VARCHAR(20),
  LastName VARCHAR(20),
  Phone VARCHAR(15),
  Address VARCHAR(50),
  City VARCHAR(20),
  State VARCHAR(2),
  ZipCode VARCHAR(10)
);

In [ ]:
%%sql
CREATE TABLE Trips (
  VehicleID INT,
  DriverID INT,
  StartDate DATE,
  EndDate DATE,
  StartLocation VARCHAR(20),
  EndLocation VARCHAR(20),
  Distance INT
);

In [ ]:

%%sql drop table Maintenance;

In [ ]:
%%sql

CREATE TABLE Maintenance (
  VehicleID INT,
  MaintenanceDate DATE,
  Description VARCHAR(50),
  Cost DECIMAL(10, 2)
);

In [ ]:
%%sql
INSERT INTO Vehicles (LicensePlate, Make, Model, Year, Color, VIN)
VALUES ('ABC123', 'Toyota', 'Corolla', 2020, 'White', '1HGCM82633A004352'),
       ('XYZ789', 'Ford', 'Fusion', 2018, 'Blue', '2HGCM82633A004353');

In [ ]:
%%sql
INSERT INTO Drivers (LicenseNumber, FirstName, LastName, Phone, Address, City, State, ZipCode)
VALUES ('D1234567', 'Michael', 'Smith', '1234567890', '123 Main St', 'Anytown', 'CA', '12345'),
       ('D7654321', 'Sarah', 'Connor', '0987654321', '456 Elm St', 'Otherville', 'NY', '54321');

In [ ]:
%%sql

INSERT INTO Trips (VehicleID, DriverID, StartDate, EndDate, StartLocation, EndLocation, Distance)
VALUES (1, 1, '2024-07-01', '2024-07-02', 'Los Angeles', 'San Francisco', 380),
       (2, 2, '2024-07-03', '2024-07-04', 'New York', 'Washington D.C.', 225);

In [ ]:
%%sql
INSERT INTO Maintenance (VehicleID, MaintenanceDate, Description, Cost)
VALUES (1, '2024-06-15', 'Oil change', 50.00),
       (2, '2024-06-20', 'Tire replacement', 300.00);

In [ ]:
%%sql
      UPDATE Maintenance
SET Cost = 350.00
WHERE VehicleID = 2 AND MaintenanceDate = '2024-06-20';

In [ ]:
%%sql
DELETE FROM Vehicles
WHERE  LicensePlate = 'ABC123';

In [ ]:
%%sql
INSERT INTO Trips (VehicleID, DriverID, StartDate, EndDate, StartLocation, EndLocation, Distance)
VALUES (2, 1, '2024-07-05', '2024-07-06', 'Boston', 'Philadelphia', 300);

In [ ]:
%%sql
UPDATE Vehicles
SET Color = 'Red'
WHERE LicensePlate = 'XYZ789';

In [ ]:
%%sql

INSERT INTO Maintenance (VehicleID, MaintenanceDate, Description, Cost)
VALUES (1, '2024-07-10', 'Brake inspection', 100.00);

In [ ]:
%%sql
UPDATE Drivers
SET Phone = '2223334444'
WHERE LicenseNumber = 'D1234567';

In [ ]:
%%sql
DELETE FROM Trips
WHERE VehicleID = 2;