<a href="https://colab.research.google.com/github/Suleymanabdy/Data-Science-Checkpoints./blob/main/Dataframe_Filtering_and_Selection_using_iloc_and_loc_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import Pandas and Creating Data Frames
import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
        'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
        'Age': [30, 40, 25, 35, 45, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
        'Experience': [3, 7, 2, 5, 10, 4]}

employee_df = pd.DataFrame(data)

In [ ]:
#Use the iloc method to select the first 3 rows of the dataframe.
print(employee_df.iloc[0:3])

   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [ ]:
#Use the loc method to select all rows where the Department is "Marketing".
print(employee_df.loc[employee_df['Department'] == 'Marketing'])

   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [ ]:
#Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
print(employee_df.iloc[0:4, [2, 3]])

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [ ]:
#Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
print(employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']])

   Salary  Experience
0   50000           3
2   45000           2
4   70000          10